<h1>Subjects</h1>

{% if subjects %}
<ul>
  {% for subject in subjects %}
    <li><a href="{% url 'base:books' %}"> {{ subject.subjectName }}</a> (
      <a href="{% url 'base:subjectUpdate' subject.id %}">Update</a> | 
      <a href="{% url 'base:subjectDelete' subject.id %}">Delete</a>)</li>
  {% endfor %}
</ul>
{% else %}
<p>There are no subjects in this library</p><br>
{% endif %}

<p><a href="{% url 'base:addSubject' %}">Add Subject</a></p>
<p><a href="{% url 'base:administrator' %}">Back</a></p>